html {
  height: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #ffddd2;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
}

.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffddd2;
}

.body-container {
  flex: 1 1;
  background-color: #edf6f9;
}

.header-container {
  background-color: black;
}
